.container {
  position: absolute;
  inset: 0;
  margin: 5rem auto;
  width: 1000px;

  border: 1px solid #ccd;
  border-radius: 1rem;
  background-color: aliceblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: calc(100% - 24rem);

  display: grid;
  grid-template-rows: 50% 1fr 6rem;
  gap: 1rem;
}

.right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 24rem;
  border-left: 1px solid #ccc;
  background-color: #fafafa;
}

.secret {
  color: #ccc;
  padding: 1rem;
  border-top: 1px solid #ccc;
  background-color: #fafafa;
  h2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }
}

.show {
  padding: 1rem;
}

.actionsButtons {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  button {
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}
