.container {
  position: absolute;
  display: flex;

  .buttons {
    display: flex;
    gap: 0.3rem;

    button {
      opacity: 1;
      transition: opacity 0.3s;

      &[data-visible="false"] {
        opacity: 0;
      }
    }
  }

  .options {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid light-dark(#d1d5db, #404040);
    background-color: light-dark(#eee, #343434);
    border-radius: 0.5rem;
    box-shadow:
      0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -4px rgba(0, 0, 0, 0.1);
  }

  &[data-position="top-right"] {
    top: 0.5rem;
    right: 0.5rem;

    flex-direction: column;
    align-items: flex-end;

    .options {
      margin-top: 0.5rem;
    }
  }
  &[data-position="top-left"] {
    top: 0.5rem;
    left: 0.5rem;

    flex-direction: column;
    align-items: flex-start;

    .buttons {
      flex-direction: row-reverse;
    }
    .options {
      margin-top: 0.5rem;
    }
  }
  &[data-position="bottom-right"] {
    bottom: 0.5rem;
    right: 0.5rem;

    flex-direction: column-reverse;
    align-items: flex-end;

    .options {
      margin-bottom: 0.5rem;
    }
  }
  &[data-position="bottom-left"] {
    bottom: 0.5rem;
    left: 0.5rem;

    flex-direction: column-reverse;
    align-items: flex-start;

    .buttons {
      flex-direction: row-reverse;
    }
    .options {
      margin-bottom: 0.5rem;
    }
  }
}
