.markdown {
  table {
    border-collapse: collapse;
  }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid black;
  }

  @media (prefers-color-scheme: dark) {
    th,
    td {
      border-color: #ededed;
    }
  }

  p {
    /* line-height: 1.5; */
  }
}
