.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;

  padding: 0.5rem;
  border: 1px solid #d1d5db;
  background-color: #eee;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);

  &:disabled {
    cursor: default;
  }
  &:not(:disabled):hover {
    background-color: #e2e8f0;
    border-color: #cbd5e1;
  }
}
/* 
* ~ .iconButton {
  margin-left: 0.3rem;
} */

@media (prefers-color-scheme: dark) {
  .iconButton {
    background-color: #18181b;
    border-color: #27272a;
    &:not(:disabled):hover {
      background-color: #27272a;
      border-color: #3f3f46;
    }
  }
}
