.container {
  position: absolute;
  inset: 0;

  background-color: aliceblue;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  @media (min-width: 1000px) {
    margin: 5rem auto;
    width: 1000px;
    border: 1px solid #ccd;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    grid-template-columns: 1fr 24rem;
    grid-template-rows: 1fr;
  }
}

.left {
  display: grid;
  grid-template-rows: 1fr auto 6rem;
}

.right {
  position: relative;
  background-color: #fafafa;

  @media (min-width: 1000px) {
    border-left: 1px solid #ccc;
  }
}

.secret {
  color: #ccc;
  padding: 1rem;
  border-top: 1px solid #ccc;
  background-color: #fafafa;
  h2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }
}

.show {
  padding: 1rem;
  overflow: auto;
}

.actionsButtons {
  padding: 1rem;
  height: min-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: min-content;
  gap: 0.5rem;

  button {
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}
