.markdown {
  table {
    border-collapse: collapse;
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
  }

  th,
  td {
    padding: 0.3rem;
    border: 1px solid light-dark(#111, #ededed);
  }

  * ~ * {
    margin-top: 1rem;
  }

  ol {
    list-style: decimal;
    padding-left: revert;
  }

  ul {
    list-style: disc;
    padding-left: revert;
  }

  blockquote,
  code {
    display: block;
    border-left: 4px solid #ccc;
    padding: 0.5em 1em;
    background: light-dark(#f9f9f9, #333);
    color: light-dark(#555, #ededed);
  }
}
